.page {
  min-height: 400px;
  max-height: 800px;
  scroll-margin-top: 10vh;
}

.content-page {
  width: 95%;
  margin: 5vh;
}

.wrapper-page {
  height: 90vh;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.place-center-grid {
  display: grid;
  place-items: center;
}

.text-align-center {
  text-align: center;
}

.bg-image {
  background-size: cover;
  background-position: center;
}
