.page {
  min-height: 400px;
  /* max-height: 800px; */
  scroll-margin-top: 10vh;
}
.mobile-page {
  min-height: 400px;
  scroll-margin-top: 10vh;
}

/* behaviour of long paragraph */
#wasIstLom {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  #wasIstLom {
    flex-direction: column;
  }
}

.content-page {
  width: 95%;
  margin: 5vh;
}
.mobile-content-page {
  width: 100%;
  margin-block: 5vh;
}

.wrapper-page {
  height: 90vh;
}

.bg-image {
  background-size: cover;
  background-position: center;
}
